.face-snap-card {
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 100%;
    background-color: transparent;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: lightgray 4px 4px 20px;
    img {
        width: 100%;
        min-height: 300px;
        max-height: 300px;
    }
    span, button {
        font: {
            weight: 500; 
            size: 1rem;   
        }
    } 
    /*bouton avec l etoile qui grossit au nombre de snap qui augmentent au clic et devient de plus en plus vert avec le style dynamic ngstyle dans le template*/
    .button--bg-color {
        background-color:#fff;
        padding: 0.5rem 2rem;
    } 
}

