<div class="face-snap-card">
    <!-- ajout dans le DOM du contenu du component avec la string interpolation avec les doubles accolades-->
    <h2>{{faceSnap.title}}</h2>
    <p>Mis en ligne le {{faceSnap.createDate}}</p>
    <!-- ajout du contenu rl de l image avec attribute binding:  des crochet aux attributs html car les valeurs des propriétés du faceSnapcomponent ne seront pas toujous des string
    comme pour imageUrl et title. Au lieu de melanger les types de valeur de ces attribut les crochet permettent une syntaxe unique
    Angular associe les valeurs des propriétés TypeScript aux attributs de l'élément HTML, et vous avez une image qui s'affiche ! -->
    <img *ngIf ="faceSnap.imageUrl" [src]="faceSnap.imageUrl" [alt]="faceSnap.title"/>
    <p>{{faceSnap.description}}</p>
    <p>Photo prise à {{faceSnap.location}}</p>
    <p>
       <button (click)="onSnap()">{{buttonText}}</button>
       <!-- fonctionalité style dynamic au clic la couleur green du rgb augmente au nombre de clic et du snaps qui augmente avec la methode onSnap()
    a partir de 50 pour le green RGB, la couleur verte est visible , plus le nombre augmente plus le texte est vert-->
       
       <!--<span *ngIf ="faceSnap.snaps > 0" [ngStyle]="{color:'rgb(0,'+ faceSnap.snaps +',0)'}"> {{faceSnap.snaps}}</span>-->

       <span *ngIf ="faceSnap.snaps > 0"> {{faceSnap.snaps}}</span>
    </p>
</div>



