<div class="face-snap-card">
    <!-- ajout dans le DOM du contenu du component avec la string interpolation avec les doubles accolades-->
    <h2>{{title}}</h2>
    <p>Mis en ligne le {{createDate}}</p>
    <!-- ajout du contenu rl de l image avec attribute binding:  des crochet aux attributs html car les valeurs des propriétés du faceSnapcomponent ne seront pas toujous des string
    comme pour imageUrl et title. Au lieu de melanger les types de valeur de ces attribut les crochet permettent une syntaxe unique
    Angular associe les valeurs des propriétés TypeScript aux attributs de l'élément HTML, et vous avez une image qui s'affiche ! -->
    <img [src]="imageUrl" [alt]="title"/>
    <p>{{description}}</p>
    <p>
        <button (click)="onSnap()">{{buttonText}}</button>
        {{snaps}}</p>
</div>


