.app-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1240px;
    width: 100%;
    /* Centrer avec margin au lieu de center flex-box  a cause des cards qui ne reviennent pas à gauche qaund ils vont pas de pair et sont seuls*/
    margin: 12%;
}