<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- INTEGRATION DE LA BALISE DU COMPONENT FaceSnapComponent via son selector app-face-snap dans le component racine AppComponent-->
<app-face-snap [faceSnap]="snap" *ngIf="snap.description"></app-face-snap>
<app-face-snap [faceSnap]="snap2" *ngIf="snap2.location"></app-face-snap>
<app-face-snap [faceSnap]="snap3" *ngIf="snap3.location"></app-face-snap>
<app-face-snap [faceSnap]="snap4" *ngIf="snap4.location"></app-face-snap>
<app-face-snap [faceSnap]="snap5" *ngIf="snap5.location"></app-face-snap>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

