<main class="app-main">
    <!--les style inline en TS sont des objets (comme react.js) donc ts etant une surcouche de javascript:
        les guillemet des nom de propriété ne sont pas obligatoire sauf les valeurs en string
        la nomenture du style javascript s applique aussi a Typescript , les propriété doivent etre en camel case pour la clarté du code avec le css et scss-->
    <app-face-snap  *ngFor=" let snap of mySnaps" [faceSnap]="snap" [ngStyle]="{
        margin: '3%',
        width: '40%',
        backgroundColor: 'transparent' 
    }"></app-face-snap>
</main>
