.landing-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 800px;
    &_img {
       position: relative;
       width: 100%;
        &::before {
            content: "SnapFace";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: black;
            font-weight: 900;
            font-size: 2rem;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center; 
        }
        img {
            width: 100%;     
        }     
    }
    &_link {
        width: 100%;
        text-align: center;
    }   
}

/*.landing-block {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  //transform se deplace depuis le centre de l element et selon la taille de l element si c est en pourcentage
  //transform s applique selon la position d origine (ici en absolute et 50%,50%  et de cette position applique le translate depuis le centre de l element et non du bord gauche comme les autres position: absolute, relative 
}
*/