<main>
    <div class="landing-block">
        <div class="landing-block_img">
            <!-- pas d attribute binding les valeurs sont des de src et alt sont des string, on met les crochets pour les numbers, les variables ou les propriéts, les objets-->
            <img src="../assets/home.jpg" alt="bibliotheque"/>
        </div>     
        <div class="landing-block_link">
            <button>Continuer vers Facesnaps</button>
            <!-- pas besoin des crochets de l attribute binding car l argument est un string, sauf si c etait un nombre, objet, variableou propriété ou un tableau-->
            <!--<a routerLink="facesnaps"> Continuer vers SnapFace</a>-->
            <!-- Link dynamic
            <a [routerLink]="['facesnaps', snapId]"> Continuer vers SnapFace</a>
            -->
        </div>
    </div>
</main>

<!--***ROUTERlINK***
    **LINK STATIC**
    Given a route configuration [{ path: 'user/:name', component: UserCmp }],
     the following creates a static link to the route: 
     <a routerLink="/user/bob">link to user component</a> 
    
    **LINK DYNAMIC 
     For a dynamic link, pass an array of path segments, followed by the params for each segment.
    For example, ['/team', teamId, 'user', userName, {details: true}] generates a link to /team/11/user/bob;details=true.
   
    **LINK STATIC COMBINÉ AVEC LES LINK DYNAMIC
    Multiple static segments can be merged into one term and combined with dynamic segments. For example, 
    ['/team/11/user', userName, {details: true}]
    
    **PATH SEGMENT**
    The first segment name can be prepended with /, ./, or ../.

    If the first segment begins with /, the router looks up the route from the root of the app.
    If the first segment begins with ./, or doesn't begin with a slash, the router looks in the children of the current activated route.
    If the first segment begins with ../, the router goes up one level in the route tree.

-->
